<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ES.Client.Properties.Settings.ES_ClientConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=ES.Client;Integrated Security=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransferSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="" binding="basicHttpBinding"
                bindingConfiguration="TransferSoap" contract="ServiceReference.TransferSoap"
                name="TransferSoap" />
        </client>
    </system.serviceModel>
    <appSettings>
      <add key="serviceUrl" value=""></add>
    </appSettings>
</configuration>
