<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ES.Client.Properties.Settings.ES_ClientConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ES.Client;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransferSoap" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:22439/Transfer.asmx" binding="basicHttpBinding"
                bindingConfiguration="TransferSoap" contract="ServiceReference.TransferSoap"
                name="TransferSoap" />
        </client>
    </system.serviceModel>
    <appSettings>
      <add key="serviceUrl" value="http://localhost:22439/Transfer.asmx"></add>
    </appSettings>
</configuration>
