USE [ES.Client]
GO
/****** Object:  User [NT AUTHORITY\SERVICE]    Script Date: 05/20/2015 16:27:41 ******/
CREATE USER [NT AUTHORITY\SERVICE] FOR LOGIN [NT AUTHORITY\SERVICE]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05/20/2015 16:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](2000) NULL,
	[Address] [nvarchar](500) NULL,
	[Remark] [nvarchar](2000) NULL,
	[State] [int] NULL,
	[TimeStamp] [timestamp] NOT NULL,
	[CreatedTime] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([ID], [Guid], [Name], [Address], [Remark], [State], [CreatedTime]) VALUES (1, N'6cf39e0d-32da-419f-a6fa-165d1a37e91a', N'Peter_0_8_29_116_77', N'湖南省_8_29_116_77', N'湖南达到_8_29_116_77', 0, CAST(0x0000A3C100E75F17 AS DateTime))
INSERT [dbo].[User] ([ID], [Guid], [Name], [Address], [Remark], [State], [CreatedTime]) VALUES (2, N'f7e13f2b-9b96-4b92-9270-78c87481397a', N'Tom_0_7_30_115_78', N'USA_7_30_115_78', N'USA_7_30_115_78', 0, CAST(0x0000A3C100E75F17 AS DateTime))
INSERT [dbo].[User] ([ID], [Guid], [Name], [Address], [Remark], [State], [CreatedTime]) VALUES (3, N'570cb7c2-c945-44e6-a0d8-122783c08a9e', N'Tom_0_1_6_31_114_79', N'USA_1_6_31_114_79', N'USA_1_6_31_114_79', 0, CAST(0x0000A3C100E75F17 AS DateTime))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[TranLog]    Script Date: 05/20/2015 16:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TranLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Client] [varchar](32) NULL,
	[Target] [varchar](32) NULL,
	[Sort] [int] NULL,
	[ConfigCode] [nvarchar](50) NULL,
	[ConfigName] [nvarchar](100) NULL,
	[TransferNo] [nvarchar](50) NULL,
	[IsSuccess] [bit] NULL,
	[Direct] [int] NULL,
	[Header] [nvarchar](4000) NULL,
	[Detail] [text] NULL,
	[Footer] [nvarchar](4000) NULL,
	[Count] [int] NULL,
	[Stamp] [bigint] NULL,
	[Result] [nvarchar](500) NULL,
	[Remark] [nvarchar](2000) NULL,
	[TranTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TranLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TranLog] ON
INSERT [dbo].[TranLog] ([ID], [Client], [Target], [Sort], [ConfigCode], [ConfigName], [TransferNo], [IsSuccess], [Direct], [Header], [Detail], [Footer], [Count], [Stamp], [Result], [Remark], [TranTime]) VALUES (2, N'C1', NULL, 2, N'KHZL2C', N'客户资料传门店', N'e3b0bb41-13c5-423b-b328-7ee7d8db2c3c', 1, 1, NULL, NULL, NULL, 100, 0, N'上传数据成功', NULL, CAST(0x0000A49D010D79FE AS DateTime))
INSERT [dbo].[TranLog] ([ID], [Client], [Target], [Sort], [ConfigCode], [ConfigName], [TransferNo], [IsSuccess], [Direct], [Header], [Detail], [Footer], [Count], [Stamp], [Result], [Remark], [TranTime]) VALUES (3, N'C1', NULL, 2, N'KHZL2C', N'客户资料传门店', N'e3b0bb41-13c5-423b-b328-7ee7d8db2c3c', 1, 0, NULL, NULL, NULL, 0, NULL, N'没有返回数据', N'已经是最新数据', CAST(0x0000A49D010D7A45 AS DateTime))
SET IDENTITY_INSERT [dbo].[TranLog] OFF
/****** Object:  Table [dbo].[TranConfig]    Script Date: 05/20/2015 16:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TranConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Sort] [int] NOT NULL,
	[MaxCount] [int] NOT NULL,
	[Cstamp] [bigint] NULL,
	[Sstamp] [bigint] NULL,
	[Direct] [int] NOT NULL,
	[Import] [int] NULL,
	[SourceTableName] [nvarchar](128) NULL,
	[TargetTableName] [nvarchar](128) NULL,
	[BlobColumn] [nvarchar](128) NULL,
	[HeaderSql] [nvarchar](4000) NULL,
	[DetailSql] [nvarchar](4000) NOT NULL,
	[FooterSql] [nvarchar](4000) NULL,
	[Remark] [nvarchar](4000) NULL,
	[Status] [int] NOT NULL,
	[Timestamp] [timestamp] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedBy] [varchar](64) NULL,
	[ModifiedTime] [datetime] NULL,
	[ModifiedBy] [varchar](64) NULL,
 CONSTRAINT [PK_TranConfig_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据传输方向：0-Server->Client,1-Client->Server,2-Clent->Client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TranConfig', @level2type=N'COLUMN',@level2name=N'Direct'
GO
SET IDENTITY_INSERT [dbo].[TranConfig] ON
SET IDENTITY_INSERT [dbo].[TranConfig] OFF
/****** Object:  Table [dbo].[DataTest]    Script Date: 05/20/2015 16:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DataTest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NULL,
	[Name] [nvarchar](50) NULL,
	[Data] [varbinary](max) NULL,
	[Timestamp] [timestamp] NULL,
 CONSTRAINT [PK_DataTest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DataTest] ON
INSERT [dbo].[DataTest] ([ID], [Guid], [Name], [Data]) VALUES (2, N'2432c313-d6dd-4cd8-b0e5-5b157437f314', N'Test1', 0xFF)
INSERT [dbo].[DataTest] ([ID], [Guid], [Name], [Data]) VALUES (3, N'5ce59fcc-9c5d-4273-9890-54c51746a06d', N'Test2', 0xFF)
SET IDENTITY_INSERT [dbo].[DataTest] OFF
/****** Object:  Table [dbo].[Client]    Script Date: 05/20/2015 16:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Code] [varchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[IsCurrent] [bit] NULL,
	[Type] [int] NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Timestamp] [timestamp] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedTime] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedTime] [datetime] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON
INSERT [dbo].[Client] ([ID], [GUID], [Code], [Name], [IsCurrent], [Type], [Address], [Status], [CreatedBy], [CreatedTime], [ModifiedBy], [ModifiedTime]) VALUES (1, N'35c246cd-503e-41ce-aefb-99c0c1deaf4c', N'C1', N'客户端1', 1, 1, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Client] ([ID], [GUID], [Code], [Name], [IsCurrent], [Type], [Address], [Status], [CreatedBy], [CreatedTime], [ModifiedBy], [ModifiedTime]) VALUES (2, N'4b5d693c-5a5b-4953-925d-87df2b5ac3b2', N'S1', N'服务器1', NULL, 0, N'', 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Client] OFF
/****** Object:  UserDefinedFunction [dbo].[bims_f_var_to_string]    Script Date: 05/20/2015 16:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
--将变量转换成带边界的字符串，如果是空值，则返回字符串'NULL'    
CREATE function [dbo].[bims_f_var_to_string] (    
        @ssvar sql_variant    
)    
returns nvarchar(4000)    
as    
begin    
        declare @pstrout varchar(4000)    
    
        if @ssvar is null return('NULL')    
    
        declare @basetype sysname    
    
        select @basetype = CAST(SQL_VARIANT_PROPERTY ( @ssvar, 'BaseType' ) as nvarchar(255))    
        if (@ssvar IS NOT NULL and @basetype IS NOT NULL)    
        begin    
                if (lower(@basetype) in ('varchar','nvarchar'))    
                        select @pstrout = N'''' + REPLACE(CAST(@ssvar as nvarchar(4000)), '''', '''''') + N''''    
                else if (lower(@basetype) in ('char','nchar'))    
                        select @pstrout = N'''' + REPLACE(RTRIM(CAST(@ssvar as nvarchar(4000))), '''', '''''') + N''''    
                else if (lower(@basetype) in ('binary','varbinary'))    
                        select @pstrout = master.dbo.fn_varbintohexsubstring(1, CAST(@ssvar as varbinary(8000)), 1, 0)    
                else if (lower(@basetype) in ('bit','bigint','int','smallint','tinyint','float','real','decimal','numeric'))    
                        select @pstrout = CAST(@ssvar as nvarchar(40))    
                else if (lower(@basetype) in ('money','smallmoney'))    
                        select @pstrout = CONVERT(nvarchar(40), @ssvar, 2)    
                else if (lower(@basetype) = 'uniqueidentifier')    
                        select @pstrout = N'''' + CAST(@ssvar as nvarchar(40)) + N''''    
                else if (lower(@basetype) in ('datetime','smalldatetime'))    
                        select @pstrout = N'''' + CONVERT(nvarchar(40), @ssvar, 121) + N''''    
                else    
                        select @pstrout = N'''Invalid Datatype' + lower(@basetype) + N'(' + CAST(@ssvar as nvarchar) + N')'''    
        end    
    
        return(@pstrout)    
    
end
GO
/****** Object:  Default [DF_User_Guid]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Guid]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_User_CreatedTime]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
/****** Object:  Default [DF_TranLog_IsSuccess]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[TranLog] ADD  CONSTRAINT [DF_TranLog_IsSuccess]  DEFAULT ((0)) FOR [IsSuccess]
GO
/****** Object:  Default [DF_TranLog_TranTime]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[TranLog] ADD  CONSTRAINT [DF_TranLog_TranTime]  DEFAULT (getdate()) FOR [TranTime]
GO
/****** Object:  Default [DF_Table_1_GUID]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_Table_1_GUID]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_TranConfig_Sort]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_Sort]  DEFAULT ((0)) FOR [Sort]
GO
/****** Object:  Default [DF_TranConfig_MaxCount]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_MaxCount]  DEFAULT ((20)) FOR [MaxCount]
GO
/****** Object:  Default [DF_TranConfig_Direct]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_Direct]  DEFAULT ((0)) FOR [Direct]
GO
/****** Object:  Default [DF_TranConfig_Import]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_Import]  DEFAULT ((1)) FOR [Import]
GO
/****** Object:  Default [DF_TranConfig_Status]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_TranConfig_CreatedTime]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
/****** Object:  Default [DF_DataTest_Guid]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[DataTest] ADD  CONSTRAINT [DF_DataTest_Guid]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_Client_GUID]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_GUID]  DEFAULT (newid()) FOR [GUID]
GO
/****** Object:  Default [DF_Client_Name]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_Name]  DEFAULT ((0)) FOR [Name]
GO
/****** Object:  Default [DF_Client_Type]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_Type]  DEFAULT ((1)) FOR [Type]
GO
/****** Object:  Default [DF_Client_Status]    Script Date: 05/20/2015 16:27:43 ******/
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_Status]  DEFAULT ((0)) FOR [Status]
GO
