USE [ES.Server]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles] 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](2000) NULL,
	[Address] [nvarchar](500) NULL,
	[Remark] [nvarchar](2000) NULL,
	[State] [int] NULL,
	[TMstamp] [timestamp] NOT NULL,
	[CreatedTime] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([ID], [Guid], [Name], [Address], [Remark], [State], [CreatedTime]) VALUES (1, N'3f4713c1-0cbd-431d-8c8e-133127e3d699', N'Jimmy_0_9', N'江西省广昌县塘方向天要存_9', N'小地方_9', 0, CAST(0x0000A3C100E75D84 AS DateTime))
INSERT [dbo].[User] ([ID], [Guid], [Name], [Address], [Remark], [State], [CreatedTime]) VALUES (2, N'e0f4236e-54e7-432c-b87d-56c4269c6d77', N'Tom_10', N'USA_10', N'USA_10', 0, CAST(0x0000A3C100E75D84 AS DateTime))
INSERT [dbo].[User] ([ID], [Guid], [Name], [Address], [Remark], [State], [CreatedTime]) VALUES (3, N'1b45a01a-a92e-4063-bd1a-6679ab270ee4', N'Peter_11', N'湖南省_11', N'湖南达到_11', 0, CAST(0x0000A3C100E75D84 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[TranLog]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TranLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NULL,
	[Client] [varchar](32) NULL,
	[Target] [varchar](32) NULL,
	[Sort] [int] NULL,
	[ConfigCode] [nvarchar](50) NULL,
	[ConfigName] [nvarchar](100) NULL,
	[Direct] [int] NULL,
	[TransferNo] [varchar](50) NULL,
	[IsSuccess] [bit] NULL,
	[Header] [nvarchar](4000) NULL,
	[Detail] [nvarchar](4000) NULL,
	[Footer] [nvarchar](4000) NULL,
	[Count] [int] NULL,
	[Stamp] [bigint] NULL,
	[Result] [nvarchar](500) NULL,
	[Remark] [nvarchar](2000) NULL,
	[TranTime] [datetime] NOT NULL,
	[TMstamp] [timestamp] NULL,
 CONSTRAINT [PK_TranLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TranLog] ON
INSERT [dbo].[TranLog] ([ID], [Guid], [Client], [Target], [Sort], [ConfigCode], [ConfigName], [Direct], [TransferNo], [IsSuccess], [Header], [Detail], [Footer], [Count], [Stamp], [Result], [Remark], [TranTime]) VALUES (3, N'5e8d9c9b-8a0c-4a9a-a7d5-19c73fe9b025', N'C1', NULL, NULL, N'EB_T_C', N'测试二表合一', 0, N'c04a237f-af96-4335-a69e-cae1f2efa313', 0, N'if object_id(''tempdb..#temp_T_AB'') is not null drop table #temp_T_AB;select top 0 [Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime] into #temp_T_AB from [T_AB](nolock);', N'select top 50 ''insert #temp_T_AB([Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime]) 
select ''+dbo.bims_f_var_to_string(a.Guid)+'',''+dbo.bims_f_var_to_string(A.C_S+'',''+B.C_S+'',''+A.C_S_1)+'',''+dbo.bims_f_var_to_string(A.C_I)+'',''+dbo.bims_f_var_to_string(B.C_I)+'',''+dbo.bims_f_var_to_string(A.UpdateTime) as sql,
cast(a.TMstamp as bigint) as stamp,a.[Guid] as Guid from [T_A] A,T_B B
where A.[TMstamp] > cast(cast(0 as bigint) as Timestamp) And A.ID=B.id 
  And A.[Guid] not in (Select [guid] from tranferTempLog where TransferNo = ''c04a237f-af96-4335-a69e-cae1f2efa313'' and ConfigCode = ''EB_T_C'')  Order by A.[TMstamp];', N'Update b set b.Guid = a.Guid,b.C_S = a.C_S,b.C_I_1= a.C_I_1,b.C_I_2= a.C_I_2,b.UpdateTime = a.UpdateTime from #temp_T_AB a,[T_AB] b  where a.Guid = b.Guid;if @@error <> 0 begin raiserror 20001 ''更新配置出错'';  rollback return end;insert into [T_AB]([Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime]) select [Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime] from #temp_T_AB a   where a.Guid not in (Select [GUID] From [T_AB]);if @@error <> 0 begin raiserror 20002 ''更新配置出错'';rollback return end;', NULL, NULL, N'找不到列 "dbo" 或用户定义的函数或聚合 "dbo.bims_f_var_to_string"，或者名称不明确。', N'', CAST(0x0000A49F015935B3 AS DateTime))
INSERT [dbo].[TranLog] ([ID], [Guid], [Client], [Target], [Sort], [ConfigCode], [ConfigName], [Direct], [TransferNo], [IsSuccess], [Header], [Detail], [Footer], [Count], [Stamp], [Result], [Remark], [TranTime]) VALUES (4, N'03e78dd9-7a65-4bf9-95e6-b017ef98b080', N'C1', NULL, NULL, N'EB_T_C', N'测试二表合一', 0, N'da447aae-5387-4b48-a007-4298dbbacf04', 0, N'if object_id(''tempdb..#temp_T_AB'') is not null drop table #temp_T_AB;select top 0 [Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime] into #temp_T_AB from [T_AB](nolock);', N'select top 50 ''insert #temp_T_AB([Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime]) 
select ''+dbo.bims_f_var_to_string(a.Guid)+'',''+dbo.bims_f_var_to_string(A.C_S+'',''+B.C_S+'',''+A.C_S_1)+'',''+dbo.bims_f_var_to_string(A.C_I)+'',''+dbo.bims_f_var_to_string(B.C_I)+'',''+dbo.bims_f_var_to_string(A.UpdateTime) as sql,
cast(a.TMstamp as bigint) as stamp,a.[Guid] as Guid from [T_A] A,T_B B
where A.[TMstamp] > cast(cast(0 as bigint) as Timestamp) And A.ID=B.id 
  And A.[Guid] not in (Select [guid] from tranferTempLog where TransferNo = ''da447aae-5387-4b48-a007-4298dbbacf04'' and ConfigCode = ''EB_T_C'')  Order by A.[TMstamp];', N'Update b set b.Guid = a.Guid,b.C_S = a.C_S,b.C_I_1= a.C_I_1,b.C_I_2= a.C_I_2,b.UpdateTime = a.UpdateTime from #temp_T_AB a,[T_AB] b  where a.Guid = b.Guid;if @@error <> 0 begin raiserror 20001 ''更新配置出错'';  rollback return end;insert into [T_AB]([Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime]) select [Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime] from #temp_T_AB a   where a.Guid not in (Select [GUID] From [T_AB]);if @@error <> 0 begin raiserror 20002 ''更新配置出错'';rollback return end;', NULL, NULL, N'找不到列 "dbo" 或用户定义的函数或聚合 "dbo.bims_f_var_to_string"，或者名称不明确。', N'', CAST(0x0000A49F01599F79 AS DateTime))
INSERT [dbo].[TranLog] ([ID], [Guid], [Client], [Target], [Sort], [ConfigCode], [ConfigName], [Direct], [TransferNo], [IsSuccess], [Header], [Detail], [Footer], [Count], [Stamp], [Result], [Remark], [TranTime]) VALUES (5, N'ff0b4917-decd-48e8-b47d-11088f193db7', N'C1', NULL, NULL, N'EB_T_C', N'测试二表合一', 0, N'77b43898-b880-4dd2-ae34-863d05d62807', 0, N'if object_id(''tempdb..#temp_T_AB'') is not null drop table #temp_T_AB;select top 0 [Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime] into #temp_T_AB from [T_AB](nolock);', N'select top 50 ''insert #temp_T_AB([Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime]) 
select ''+dbo.bims_f_var_to_string(a.Guid)+'',''+dbo.ES_f_CastAsString(A.C_S+'',''+B.C_S+'',''+A.C_S_1)+'',''+dbo.ES_f_CastAsString(A.C_I)+'',''+dbo.ES_f_CastAsString(B.C_I)+'',''+dbo.ES_f_CastAsString(A.UpdateTime) as sql,
cast(a.TMstamp as bigint) as stamp,a.[Guid] as Guid from [T_A] A,T_B B
where A.[TMstamp] > cast(cast(0 as bigint) as Timestamp) And A.ID=B.id 
  And A.[Guid] not in (Select [guid] from tranferTempLog where TransferNo = ''77b43898-b880-4dd2-ae34-863d05d62807'' and ConfigCode = ''EB_T_C'')  Order by A.[TMstamp];', N'Update b set b.Guid = a.Guid,b.C_S = a.C_S,b.C_I_1= a.C_I_1,b.C_I_2= a.C_I_2,b.UpdateTime = a.UpdateTime from #temp_T_AB a,[T_AB] b  where a.Guid = b.Guid;if @@error <> 0 begin raiserror 20001 ''更新配置出错'';  rollback return end;insert into [T_AB]([Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime]) select [Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime] from #temp_T_AB a   where a.Guid not in (Select [GUID] From [T_AB]);if @@error <> 0 begin raiserror 20002 ''更新配置出错'';rollback return end;', NULL, NULL, N'找不到列 "dbo" 或用户定义的函数或聚合 "dbo.bims_f_var_to_string"，或者名称不明确。', N'', CAST(0x0000A49F0159F665 AS DateTime))
SET IDENTITY_INSERT [dbo].[TranLog] OFF
/****** Object:  Table [dbo].[tranferTempLog]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tranferTempLog](
	[ConfigCode] [nvarchar](128) NOT NULL,
	[TransferNo] [uniqueidentifier] NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tranferTempLog] ([ConfigCode], [TransferNo], [Guid]) VALUES (N'DataTest', N'4e2f1e75-02b5-40a6-8b60-f022bdc3d4bf', N'cc20b112-0625-4177-a2bb-79ce353878d0')
INSERT [dbo].[tranferTempLog] ([ConfigCode], [TransferNo], [Guid]) VALUES (N'DataTest', N'4e2f1e75-02b5-40a6-8b60-f022bdc3d4bf', N'03aa5e65-ef36-4cd9-a5da-cf08b39cdd9a')
INSERT [dbo].[tranferTempLog] ([ConfigCode], [TransferNo], [Guid]) VALUES (N'DataTest', N'4e2f1e75-02b5-40a6-8b60-f022bdc3d4bf', N'114f4b7b-2786-4ad9-be25-aae10c7ae59f')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
/****** Object:  Table [dbo].[TranConfig]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TranConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Sort] [int] NOT NULL,
	[MaxCount] [int] NOT NULL,
	[Sstamp] [bigint] NULL,
	[Cstamp] [bigint] NULL,
	[Direct] [int] NOT NULL,
	[SourceTableName] [nvarchar](128) NULL,
	[TargetTableName] [nvarchar](128) NULL,
	[BlobColumn] [nvarchar](128) NULL,
	[HeaderSql] [nvarchar](4000) NULL,
	[DetailSql] [nvarchar](4000) NOT NULL,
	[FooterSql] [nvarchar](4000) NULL,
	[Remark] [nvarchar](4000) NULL,
	[Status] [int] NOT NULL,
	[Import] [int] NULL,
	[TMstamp] [timestamp] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedBy] [varchar](64) NULL,
	[ModifiedTime] [datetime] NULL,
	[ModifiedBy] [varchar](64) NULL,
 CONSTRAINT [PK_TranConfig_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数据传输方向：0-Server->Client,1-Client->Server,2-Clent->Client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TranConfig', @level2type=N'COLUMN',@level2name=N'Direct'
GO
SET IDENTITY_INSERT [dbo].[TranConfig] ON
INSERT [dbo].[TranConfig] ([ID], [Guid], [Name], [Code], [Sort], [MaxCount], [Sstamp], [Cstamp], [Direct], [SourceTableName], [TargetTableName], [BlobColumn], [HeaderSql], [DetailSql], [FooterSql], [Remark], [Status], [Import], [CreatedTime], [CreatedBy], [ModifiedTime], [ModifiedBy]) VALUES (10, N'44896efd-00b3-45e4-ba8c-5a4e45e038fe', N'测试二表合一', N'EB_T_C', 10, 50, NULL, NULL, 0, N'T_A', N'T_AB', NULL, N'if object_id(''tempdb..#temp_T_AB'') is not null drop table #temp_T_AB;select top 0 [Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime] into #temp_T_AB from [T_AB](nolock);', N'select top $rowCount$ ''insert #temp_T_AB([Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime]) 
select ''+dbo.ES_f_CastAsString(a.Guid)+'',''+dbo.ES_f_CastAsString(A.C_S+'',''+B.C_S+'',''+A.C_S_1)+'',''+dbo.ES_f_CastAsString(A.C_I)+'',''+dbo.ES_f_CastAsString(B.C_I)+'',''+dbo.ES_f_CastAsString(A.UpdateTime) as sql,
cast(a.TMstamp as bigint) as stamp,a.[Guid] as Guid from [T_A] A,T_B B
where A.[TMstamp] > cast(cast($lastStamp$ as bigint) as Timestamp) And A.ID=B.id 
 {templog: And A.[Guid] not in (Select [guid] from tranferTempLog where TransferNo = ''$tranferNo$'' and ConfigCode = ''$configCode$'') :templog} Order by A.[TMstamp];', N'Update b set b.Guid = a.Guid,b.C_S = a.C_S,b.C_I_1= a.C_I_1,b.C_I_2= a.C_I_2,b.UpdateTime = a.UpdateTime from #temp_T_AB a,[T_AB] b  where a.Guid = b.Guid;if @@error <> 0 begin raiserror 20001 ''更新配置出错'';  rollback return end;insert into [T_AB]([Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime]) select [Guid],[C_S],[C_I_1],[C_I_2],[UpdateTime] from #temp_T_AB a   where a.Guid not in (Select [GUID] From [T_AB]);if @@error <> 0 begin raiserror 20002 ''更新配置出错'';rollback return end;', NULL, 0, 0, CAST(0x0000A48E017B5AC1 AS DateTime), N'abc@live.cn', CAST(0x0000A49F015A2AD1 AS DateTime), N'abc@live.cn')
SET IDENTITY_INSERT [dbo].[TranConfig] OFF
/****** Object:  Table [dbo].[TranBlobConfig]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TranBlobConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[TableName] [varchar](64) NOT NULL,
	[ColName] [varchar](64) NOT NULL,
	[Sort] [int] NOT NULL,
	[Direct] [tinyint] NOT NULL,
	[MaxCount] [int] NULL,
	[Cstamp] [bigint] NULL,
	[Sstamp] [bigint] NULL,
	[TMstamp] [timestamp] NOT NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedTime] [datetime] NULL,
 CONSTRAINT [PK_BlobTranConfig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_B]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_B](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[C_S] [nvarchar](50) NULL,
	[C_I] [int] NULL,
	[C_S_1] [varchar](50) NULL,
	[TMstamp] [timestamp] NULL,
	[UpdateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_T_B] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[T_B] ON
INSERT [dbo].[T_B] ([ID], [Guid], [C_S], [C_I], [C_S_1], [UpdateTime]) VALUES (1, N'04d3d754-6c19-4629-bcdc-d68c3c1f8c51', N'张三A_B_1', 1, N'fsaf_B_1', CAST(0x0000A48E0174E1A8 AS DateTime))
INSERT [dbo].[T_B] ([ID], [Guid], [C_S], [C_I], [C_S_1], [UpdateTime]) VALUES (2, N'f06cf004-1afb-4aaa-953f-924190083781', N'发放A_B_2', 2, N'fsf_B_2', CAST(0x0000A48E0174E1A8 AS DateTime))
INSERT [dbo].[T_B] ([ID], [Guid], [C_S], [C_I], [C_S_1], [UpdateTime]) VALUES (3, N'443894a6-f152-48cd-a568-e5da1bbeb544', N'方式B_B_3', 3, N'faf_B_3', CAST(0x0000A48E0174E1A8 AS DateTime))
SET IDENTITY_INSERT [dbo].[T_B] OFF
/****** Object:  Table [dbo].[T_A]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_A](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[C_S] [nvarchar](50) NULL,
	[C_I] [int] NULL,
	[C_S_1] [varchar](50) NULL,
	[TMstamp] [timestamp] NULL,
	[UpdateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_T_A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[T_A] ON
INSERT [dbo].[T_A] ([ID], [Guid], [C_S], [C_I], [C_S_1], [UpdateTime]) VALUES (1, N'29807aac-b08a-43dd-8ef9-11d2319ff26f', N'张三A_1', 1, N'fsaf_1', CAST(0x0000A48E016FB2E6 AS DateTime))
INSERT [dbo].[T_A] ([ID], [Guid], [C_S], [C_I], [C_S_1], [UpdateTime]) VALUES (2, N'6b8c0a00-68dc-4441-b1aa-5830a3c2b36b', N'发放A_2', 2, N'fsf_2', CAST(0x0000A48E016FD4C4 AS DateTime))
INSERT [dbo].[T_A] ([ID], [Guid], [C_S], [C_I], [C_S_1], [UpdateTime]) VALUES (3, N'7bad1f97-bdc9-42ee-a221-326c9deef4a6', N'方式B_3', 3, N'faf_3', CAST(0x0000A48E016FE014 AS DateTime))
SET IDENTITY_INSERT [dbo].[T_A] OFF
/****** Object:  Table [dbo].[MidTransfer]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MidTransfer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ConfigGuid] [binary](64) NOT NULL,
	[ConfigName] [nvarchar](64) NULL,
	[Target] [varchar](64) NOT NULL,
	[Source] [varchar](64) NULL,
	[HeaderSql] [text] NULL,
	[DetailSql] [text] NOT NULL,
	[FooterSql] [text] NULL,
	[TranTime] [datetime] NULL,
	[TMstamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_MidTransfer] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Meta_KeyValue]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Meta_KeyValue](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](64) NULL,
	[ColName] [varchar](64) NULL,
	[Value] [nvarchar](256) NULL,
	[Text] [nvarchar](256) NULL,
	[TMstamp] [timestamp] NULL,
 CONSTRAINT [PK_Meta_KeyValue] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Meta_KeyValue] ON
INSERT [dbo].[Meta_KeyValue] ([ID], [TableName], [ColName], [Value], [Text]) VALUES (1, N'Client', N'Status', N'0', N'正常')
INSERT [dbo].[Meta_KeyValue] ([ID], [TableName], [ColName], [Value], [Text]) VALUES (4, N'Client', N'Status', N'1', N'注销')
INSERT [dbo].[Meta_KeyValue] ([ID], [TableName], [ColName], [Value], [Text]) VALUES (5, N'Client', N'Status', N'255', N'删除')
SET IDENTITY_INSERT [dbo].[Meta_KeyValue] OFF
/****** Object:  Table [dbo].[LoginUser]    Script Date: 05/21/2015 22:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](64) NOT NULL,
	[Pwd] [varchar](32) NOT NULL,
	[RName] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[LastLogin] [datetime] NULL,
	[CreateTime] [datetime] NULL,
	[ModifiedTime] [datetime] NULL,
	[TMstamp] [timestamp] NULL,
 CONSTRAINT [PK_LoginUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LoginUser] ON
INSERT [dbo].[LoginUser] ([ID], [Name], [Pwd], [RName], [Role], [LastLogin], [CreateTime], [ModifiedTime]) VALUES (1, N'admin', N'admin', N'admin', N'admin', CAST(0x0000A475017A7375 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[LoginUser] OFF
/****** Object:  UserDefinedFunction [dbo].[ES_f_CastAsString]    Script Date: 05/21/2015 22:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[ES_f_CastAsString] (    
        @ssvar sql_variant    
)    
returns nvarchar(max)    
as    
begin    
        declare @pstrout varchar(max)    
    
        if @ssvar is null return('NULL')    
    
        declare @basetype sysname    
    
        select @basetype = CAST(SQL_VARIANT_PROPERTY ( @ssvar, 'BaseType' ) as nvarchar(255))    
        if (@ssvar IS NOT NULL and @basetype IS NOT NULL)    
        begin    
                if (lower(@basetype) in ('varchar','nvarchar'))    
                        select @pstrout = N'''' + REPLACE(CAST(@ssvar as nvarchar(4000)), '''', '''''') + N''''    
                else if (lower(@basetype) in ('char','nchar'))    
                        select @pstrout = N'''' + REPLACE(RTRIM(CAST(@ssvar as nvarchar(4000))), '''', '''''') + N''''    
                else if (lower(@basetype) in ('binary','varbinary'))    
                        select @pstrout = Upper(sys.fn_varbintohexstr(CAST(@ssvar as varbinary)))    
                else if (lower(@basetype) in ('bit','bigint','int','smallint','tinyint','float','real','decimal','numeric'))    
                        select @pstrout = CAST(@ssvar as nvarchar(40))    
                else if (lower(@basetype) in ('money','smallmoney'))    
                        select @pstrout = CONVERT(nvarchar(40), @ssvar, 2)    
                else if (lower(@basetype) = 'uniqueidentifier')    
                        select @pstrout = N'''' + CAST(@ssvar as nvarchar(40)) + N''''    
                else if (lower(@basetype) in ('datetime','smalldatetime'))    
                        select @pstrout = N'''' + CONVERT(nvarchar(40), @ssvar, 121) + N''''    
                else    
                        select @pstrout = N'''Invalid Datatype' + lower(@basetype) + N'(' + CAST(@ssvar as nvarchar) + N')'''    
        end    
    
        return(@pstrout)    
    
end
GO
/****** Object:  Table [dbo].[DataTest]    Script Date: 05/21/2015 22:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DataTest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NULL,
	[Name] [nvarchar](50) NULL,
	[Data] [varbinary](max) NULL,
	[TMstamp] [timestamp] NULL,
 CONSTRAINT [PK_DataTest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DataTest] ON
INSERT [dbo].[DataTest] ([ID], [Guid], [Name], [Data]) VALUES (1, N'cc20b112-0625-4177-a2bb-79ce353878d0', N'C_Test1', 0xFF)
INSERT [dbo].[DataTest] ([ID], [Guid], [Name], [Data]) VALUES (2, N'03aa5e65-ef36-4cd9-a5da-cf08b39cdd9a', N'C_Test2', 0xFF)
INSERT [dbo].[DataTest] ([ID], [Guid], [Name], [Data]) VALUES (3, N'114f4b7b-2786-4ad9-be25-aae10c7ae59f', N'C_Test2', 0xFF)
SET IDENTITY_INSERT [dbo].[DataTest] OFF
/****** Object:  Table [dbo].[Client]    Script Date: 05/21/2015 22:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Code] [varchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[IsCurrent] [bit] NULL,
	[Type] [int] NOT NULL,
	[Address] [nvarchar](500) NULL,
	[TMstamp] [timestamp] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedTime] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedTime] [datetime] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON
INSERT [dbo].[Client] ([ID], [GUID], [Code], [Name], [IsCurrent], [Type], [Address], [Status], [CreatedBy], [CreatedTime], [ModifiedBy], [ModifiedTime]) VALUES (1, N'4b5d693c-5a5b-4953-925d-87df2b5ac3b2', N'S1', N'服务器1', NULL, 0, N'', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Client] ([ID], [GUID], [Code], [Name], [IsCurrent], [Type], [Address], [Status], [CreatedBy], [CreatedTime], [ModifiedBy], [ModifiedTime]) VALUES (2, N'35c246cd-503e-41ce-aefb-99c0c1deaf4c', N'C1', N'客户端1', 1, 1, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Client] ([ID], [GUID], [Code], [Name], [IsCurrent], [Type], [Address], [Status], [CreatedBy], [CreatedTime], [ModifiedBy], [ModifiedTime]) VALUES (7, N'6a503325-a822-4749-8100-0979612daad0', N'C2', N'浦东2店', NULL, 1, N'上海浦东', 0, NULL, NULL, N'abc@live.cn', CAST(0x0000A477017DBE43 AS DateTime))
SET IDENTITY_INSERT [dbo].[Client] OFF
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/21/2015 22:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'12481168-44f9-4f2a-b2f9-2710eede6eca', N'abc@live.cn', 0, N'ABV+B1OXl+1tzXtXu5YNGpSIo2I2BhoigZgVd+t6YUPL7/QIUU/xi6koNcGEQ6pn1A==', N'e9064d90-24eb-4108-a3f5-6272e892d278', NULL, 0, 0, NULL, 1, 0, N'abc@live.cn')
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05/21/2015 22:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles] 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05/21/2015 22:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05/21/2015 22:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Default [DF_User_Guid]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Guid]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_User_CreatedTime]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
/****** Object:  Default [DF_TranLog_Guid]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranLog] ADD  CONSTRAINT [DF_TranLog_Guid]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_TranLog_IsSuccess]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranLog] ADD  CONSTRAINT [DF_TranLog_IsSuccess]  DEFAULT ((1)) FOR [IsSuccess]
GO
/****** Object:  Default [DF_TranLog_TranTime]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranLog] ADD  CONSTRAINT [DF_TranLog_TranTime]  DEFAULT (getdate()) FOR [TranTime]
GO
/****** Object:  Default [DF_Table_1_GUID]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_Table_1_GUID]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_TranConfig_Sort]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_Sort]  DEFAULT ((0)) FOR [Sort]
GO
/****** Object:  Default [DF_TranConfig_MaxCount]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_MaxCount]  DEFAULT ((20)) FOR [MaxCount]
GO
/****** Object:  Default [DF_TranConfig_Direct]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_Direct]  DEFAULT ((0)) FOR [Direct]
GO
/****** Object:  Default [DF_TranConfig_Status]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_TranConfig_Import]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_Import]  DEFAULT ((0)) FOR [Import]
GO
/****** Object:  Default [DF_TranConfig_CreatedTime]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranConfig] ADD  CONSTRAINT [DF_TranConfig_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
/****** Object:  Default [DF_BlobTranConfig_Guid]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranBlobConfig] ADD  CONSTRAINT [DF_BlobTranConfig_Guid]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_BlobTranConfig_MaxCount]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranBlobConfig] ADD  CONSTRAINT [DF_BlobTranConfig_MaxCount]  DEFAULT ((5)) FOR [MaxCount]
GO
/****** Object:  Default [DF_BlobTranConfig_Cstamp]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranBlobConfig] ADD  CONSTRAINT [DF_BlobTranConfig_Cstamp]  DEFAULT ((0)) FOR [Cstamp]
GO
/****** Object:  Default [DF_BlobTranConfig_Sstamp]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[TranBlobConfig] ADD  CONSTRAINT [DF_BlobTranConfig_Sstamp]  DEFAULT ((0)) FOR [Sstamp]
GO
/****** Object:  Default [DF_T_B_Guid]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[T_B] ADD  CONSTRAINT [DF_T_B_Guid]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_T_B_UpdateTime]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[T_B] ADD  CONSTRAINT [DF_T_B_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
/****** Object:  Default [DF_T_A_Guid]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[T_A] ADD  CONSTRAINT [DF_T_A_Guid]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_T_A_UpdateTime]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[T_A] ADD  CONSTRAINT [DF_T_A_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
/****** Object:  Default [DF_MidTransfer_Guid]    Script Date: 05/21/2015 22:06:19 ******/
ALTER TABLE [dbo].[MidTransfer] ADD  CONSTRAINT [DF_MidTransfer_Guid]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_DataTest_Guid]    Script Date: 05/21/2015 22:06:20 ******/
ALTER TABLE [dbo].[DataTest] ADD  CONSTRAINT [DF_DataTest_Guid]  DEFAULT (newid()) FOR [Guid]
GO
/****** Object:  Default [DF_Client_GUID]    Script Date: 05/21/2015 22:06:20 ******/
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_GUID]  DEFAULT (newid()) FOR [GUID]
GO
/****** Object:  Default [DF_Client_IsCurrent]    Script Date: 05/21/2015 22:06:20 ******/
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_IsCurrent]  DEFAULT ((0)) FOR [IsCurrent]
GO
/****** Object:  Default [DF_Client_Type]    Script Date: 05/21/2015 22:06:20 ******/
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_Type]  DEFAULT ((1)) FOR [Type]
GO
/****** Object:  Default [DF_Client_Status]    Script Date: 05/21/2015 22:06:20 ******/
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 05/21/2015 22:06:20 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 05/21/2015 22:06:20 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 05/21/2015 22:06:20 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 05/21/2015 22:06:20 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
