<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ES.Repository.Properties.Settings.ConnectionString"
            connectionString="Data Source=.;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="ES.Repository.Properties.Settings.ES_ServerConnectionString"
            connectionString="Data Source=.;Initial Catalog=ES.Server;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="ES.Repository.Properties.Settings.ES_ClientConnectionString"
            connectionString="Data Source=.;Initial Catalog=ES.Client;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="ES.Repository.Properties.Settings.ES_ClientConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ES.Client;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ES.Repository.Properties.Settings.ES_ServerConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ES.Server;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>